<div class="btn-group mb-3" role="group">
  <%= link_to "Edit this project", edit_project_path(@project), class: "btn btn-primary" %>
  <%= link_to "Back to projects", projects_path,class: "btn btn-primary" %>
  <%= link_to "Destroy this project", @project, method: :delete, class: "btn btn-primary" %>
</div>
