<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Main instrument:</strong>
    <%= player.main_instrument %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= player.email %>
  </p>

</div>
