<div id="<%= dom_id ensemble %>">
  <p>
    <strong>Name:</strong>
    <%= ensemble.name %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= ensemble.website %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= ensemble.email %>
  </p>

</div>
