<%= render @ensemble %>
<div>
  <%= link_to "Edit this ensemble", edit_ensemble_path(@ensemble) %> |
  <%= link_to "Back to ensembles", ensembles_path %>
  <%= button_to "Destroy this ensemble", @ensemble, method: :delete %>
</div>
